<div class="{{this.active ? 'category-component' : 'hide'}}">
	<div class="categories-section">
		<h3>categories</h3>
		<select (change)="categorySelectionChanged($event, this)" multiple class="">
			<option *ngFor="let category of possibleCategories" data-category-id="category.category_id" value="{{category.category}}">
				{{category.category}}
			</option>
		</select>
	</div>
	<section class="alter-category-section">
		<button (click)="updateCategory(true)">Add</button>
		<button (click)="removeCategory(false)">Remove</button>
	</section>
	<div class="new-category-section">
		<input type="text" class="new-category" [(ngModel)]="newCategory"/>
		<button class="create-new-category" (click)="setCategory()">
			create new category
		</button>
	</div>
</div>
